<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>MD_Alhan_test.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>AAE4CA0B1D8D086A0072BFEE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AAE4CA241D8D086A0072BFEE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AAE4CA2F1D8D086A0072BFEE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
